{% extends 'dashboard_base.html' %} {% block content %}{% load static %}

<div class="application">
    <header class="text-center">
        <img class="header-logo" src="https://tamudatathon.com/static/img/logos/main.svg"/>
        <h5>{{event_name}} 2021 Application</h5>
        <p></p>
        <p style="text-align: center; line-height: 1.5; color: var(--secondary)">The event will be from October 16th through October 17th at Texas A&M University.<br/>We are accepting both in person and virtual applicants.<br/>Check the website <a href="/">https://tamudatathon.com</a> for more information.</p>
    </header>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        {% if active_wave %}
            <div class="row">
                <div class="col-12 col-lg-4 col-md-6">
                    <button type="submit" class="btn btn-lg btn-block btn-login w-100">
                        Submit
                    </button>
                </div>
            </div>
            <div class="alert alert-danger my-2 form-incomplete-alert" role="alert">
                One or more fields in the form are incomplete. Please check the form and try submitting again.
            </div>
        {% endif %}
        <br>
    </form>
</div>

{% endblock %}
